body {
	background-image: url(../images/Profile.webp);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.clock {
	color: #A7BBC9;
	font-size: 120px;
	font-family: 'Bebas Neue', cursive;
  margin-top: -30px;
}
.date {
	color: #A7BBC9;
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
	margin-top: -30px;
}
.logo {
	width: 60px;
	margin-top: 210px;
	filter: opacity(50%);
}
.alarm-sec {
	margin-top: 20%;
}








#ctime, #tpick {
  font-family: 'Poppins', sans-serif;
}
.header {
  text-align: center;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

/* (B) CURRENT TIME */
 

 .header {
  color: yellow;
}
 .square {
  display: inline-block;
  padding: 10px;
  display: inline-flex;
  margin: 5px;
}

.digits {
  font-size: 24px;
  color: #000;
  padding: 20px 10px;
  border-radius: 10px;
}
 .text {
  margin-top: 10px;
  color: #fff;
}

/* (C) TIME PICKER */
#tpick {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;
  background: #1f3346;
  white-space: nowrap;
  border-radius: 20px;
}
#tpick-h, #tpick-m, #tpick-s {
  display: inline-block;
  width: 32%;
  border-radius: 10px;
}
#tpick select {
  box-sizing: padding-box;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
  background: #121212;
  color: #fff;
}
#tset, #treset {
  box-sizing: padding-box;
  width: 50%;
  background: #4b5251;
  color: #fff;
  padding: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
}
#tset:disabled, #treset:disabled {
  background: #242b2c;
  color: #888;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #9F17D6;
    text-align: center;
}
.mbtn {
  color: white;
  background: #9300FF;
  text-align: center;
  float: right;
  padding: 15px 20px;
  border-radius: 10px;
  transition: .25s ease-in;

}
.mbtn:hover {
  color: yellow;
  background: #9300FF;
  text-align: center;
  float: right;
  padding: 15px 25px;
  border-radius: 40px;

}
details > summary:first-of-type {
    list-style-type: none;
}